/* Основные стили для страницы завершения сброса пароля */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center; /* Центрирование текста */
}

h2 {
    font-size: 24px;
    color: #007bff; /* Цвет заголовка, указывающий на успех */
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #333; /* Темный цвет для текста */
    margin-top: 10px;
}

/* Мобильная адаптация */
@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }
}
