<h2>Вы управляющий</h2>
<p>Вы можете назначать любые роли</p>

<h2>Управление пользователями</h2>
<table>
    <thead>
        <tr>
            <th>Email</th>
            <th>Текущая роль</th>
            <th>Новая роль</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>
                    <form method="post" action="{% url 'cabinet' %}">
                        {% csrf_token %}
                        <input type="hidden" name="email" value="{{ user.email }}"> <!-- Скрытое поле для email -->
                        <select name="role" required>
                            {% for role in roles_to_assign %}
                                <option value="{{ role }}" {% if user.role == role %}selected{% endif %}>{{ role }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit">Назначить</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
