{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подтверждение регистрации</title>
    <link rel="stylesheet" href="{% static 'css/registration/confirm_registration.css' %}">
</head>
<body>
    <div class="container">
        <h1>Подтверждение регистрации</h1>
        <form method="post" action="{% url 'registration-confirm' %}">
            {% csrf_token %}
            <input type="hidden" name="email" value="{{ email }}">
            <label for="code">Введите код подтверждения высланный на Email:</label>
            <input type="text" name="code" required>
            <button type="submit">Подтвердить</button>
        </form>
        {% if error %}
            <p style="color:red;">{{ error }}</p> <!-- Отображение ошибки -->
        {% endif %}
    </div>
</body>
</html>
