<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список тренеров</title>
</head>
<body>
    <h1>Тренеры фитнес клуба:</h1>
    <ul>
        {% for coach in coaches %}
            <li>
                <!-- Проверяем, есть ли фото у тренера, и выводим его. Если нет, используем изображение по умолчанию -->
                <div>
                    {% if coach.photo %}
                    <img src="{{ coach.photo.url }}" alt="Фото {{ coach.username }}" style="width: 50px; height: 50px; border-radius: 50%;">
                    {% else %}
                        <div class="default-photo">Нет фото</div>
                    {% endif %}

                </div>
                <a href="{% url 'coach_detail' coach.id %}">{{ coach.username }} - {{ coach.email }}</a>
            </li>
        {% endfor %}
    </ul>

    <!-- Кнопка "Назад" -->
    <a href="{% url 'cabinet' %}">Назад</a>
</body>
</html>
